/* Universal Styles */
html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: black;
}

header div {
  display: flex;
  align-items: center;
}

header img {
  padding: 0 0.5rem;
  height: 1.5rem;
  width: auto;
}

header h3 {
  padding: 0.66rem 0.5rem;
  display: inline-block;
  color: white;
  font-size: 1rem;
  font-weight: lighter;
}

/* Main Banner Styles */
.main {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main .text-box {
  position: relative;
  top: 9rem;
  /* margin-left: 0; */
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  color: white;
}

.main .text-box h4 {
  font-weight: normal;
}

.main .text-box h1 {
  font-size: 2rem;
  font-weight: normal;
}

/* Navigation Bar Styles */
.nav-bar {
  background-color: firebrick;
}

nav {
  display: flex;
  padding: 0.75rem 0;
}

nav.large {
  justify-content: space-between;
}

nav.small {
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

/* Products Gallery Styles */
.products {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
}

.products .product {
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .product img {
  height: 9rem;
  padding: 2rem 0;
  max-width: 100%;
}

.products .product span {
  display: block;
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}

/* Store Info Styles */
.business-info {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.business-info .info {
  width: 35%;
}

.business-info .info span {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/* Footer Styles */
footer {
  background-color: black;
  color: white;
}

footer div {
  padding: 5rem 0;
}

/* Responsive Styles */

/* Desktop View above 1025px width */
@media only screen and (min-width: 1025px) {
  nav.small {
    display: none;
  }
}

/* Tablet View between 470px and 1024px  */
@media only screen and (min-width: 470px) and (max-width: 1024px) {
  html, body {
    font-size: 16px;
  }

  nav.large {
    display: none;
  }
  /* resize the remaining products */
  .products .product {
    width: 47%;
  }
  /* hide the last product */
  .products .product:last-of-type {
    display: none;
  }
}

/* Mobile View below 469px */
@media only screen and (max-width: 469px) {
  html, body {
    font-size: 16px;
  }

  header img {
    margin: 1rem auto;
  }
  header h3 {
    display: none;
  }

  /* resize divs and text in main */
  .main {
    height: 15rem;
  }
  .main .text-box {
    position: relative;
    top: 10rem;
    width: 100%;
    padding: 1rem 2rem;
  }
  .main .text-box h4 {
    font-size: 0.77rem;
  }
  .main .text-box h1 {
    font-size: 1rem;
    max-width: 270px;
  }

  nav.large {
    display: none;
  }

  /* resize the remaining product */
  .products .product {
    width: 90%;
    margin: auto;
  }
  /* hide the last two products */
  .products .product:nth-of-type(1n+2) {
    display: none;
  }

  /* stack Store Info */
  .business-info {
    flex-direction: column;
    align-items: center;
  }

  .business-info .info {
    width: 90%;
    margin: 0.5rem auto;
  }

  /* center footer text */
  footer {
    text-align: center;
  }
}
